In [8]:
# make dummy dictionary
dict_dummy = {f'key{i}': f'value{i}' for i in range(0, 20)}

print(dict_dummy.keys())
print(dict_dummy.values())
print(dict_dummy.items())

dict_keys(['key0', 'key1', 'key2', 'key3', 'key4', 'key5', 'key6', 'key7', 'key8', 'key9', 'key10', 'key11', 'key12', 'key13', 'key14', 'key15', 'key16', 'key17', 'key18', 'key19'])
dict_values(['value0', 'value1', 'value2', 'value3', 'value4', 'value5', 'value6', 'value7', 'value8', 'value9', 'value10', 'value11', 'value12', 'value13', 'value14', 'value15', 'value16', 'value17', 'value18', 'value19'])
dict_items([('key0', 'value0'), ('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4'), ('key5', 'value5'), ('key6', 'value6'), ('key7', 'value7'), ('key8', 'value8'), ('key9', 'value9'), ('key10', 'value10'), ('key11', 'value11'), ('key12', 'value12'), ('key13', 'value13'), ('key14', 'value14'), ('key15', 'value15'), ('key16', 'value16'), ('key17', 'value17'), ('key18', 'value18'), ('key19', 'value19')])

In [13]:
keys = list(dict_dummy.keys())[:5]  # Get the first 5 keys
values = list(dict_dummy.values())[:5]  # Get the first 5 values

for key, value in zip(keys, values):
    print(key, '\t', value)

key0 	 value0
key1 	 value1
key2 	 value2
key3 	 value3
key4 	 value4

In [26]:
dict_dummy2 = {f'key{i}': f'value{i}' for i in np.arange(20, 20+20, 1)}

In [27]:
import numpy as np

keys2 = list(dict_dummy2.keys())[:5]  # Get the first 5 keys
values2 = list(dict_dummy2.values())[:5]  # Get the first 5 values

for key, value in zip(keys2, values2):
    print(key, '\t', value)

key20 	 value20
key21 	 value21
key22 	 value22
key23 	 value23
key24 	 value24

In [29]:
keys_vstack = np.vstack((keys, keys2))
values_vstack = np.vstack((values, values2))

for key, value in zip(keys_vstack, values_vstack):
    print(key, '\t', value)

['key0' 'key1' 'key2' 'key3' 'key4'] 	 ['value0' 'value1' 'value2' 'value3' 'value4']
['key20' 'key21' 'key22' 'key23' 'key24'] 	 ['value20' 'value21' 'value22' 'value23' 'value24']

In [9]:
import pandas as pd

df = pd.DataFrame(dict_dummy.items(), columns=['key', 'value'])

In [10]:
df.head()

    key   value
0  key0  value0
1  key1  value1
2  key2  value2
3  key3  value3
4  key4  value4

In [11]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
key,key0,key1,key2,key3,key4,key5,key6,key7,key8,key9,key10,key11,key12,key13,key14,key15,key16,key17,key18,key19
value,value0,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,value11,value12,value13,value14,value15,value16,value17,value18,value19

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
})

print(df)

# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='Category', values='Value')

print(pivot_df)